<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <connectionStrings>
    <!--<add name="ContratoContext" connectionString="data source=DESKTOP-OE4QIII\MSSQLSERVER12;initial catalog=NorisContrato;persist security info=True;user id=sa;password=bqnec71$;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="ContratoContext" connectionString="data source=DESKTOP-CMN662P\SQLEXPRESS;Database=NorisContrato;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />

    <contexts>
      <context type="Noris.Contrato.DAL.Context.ContratoContext, Noris.Contrato.DAL">
        <databaseInitializer type="Noris.Contrato.DAL.Context.ContratoInitializer, Noris.Contrato.DAL" />
      </context>
    </contexts>
    
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  


</configuration>